<div class="ui-print__toolbar no-print">
    @let t = title();
    @if(t){
    <div class="ui-print__title">{{t}}</div>
    }

    <form [formGroup]="form" class="ui-form">
        <ui-select label="Orientación" type="string" [items]="orientations" formControlName="orientation" />
    </form>

    <button class="ui-button" type="button" (click)="print()">Imprimir</button>
</div>

<div class="ui-print__viewport">
    <article class="ui-print__sheet" role="document">
        <section class="ui-print__body">
            <ng-content />
        </section>
    </article>
</div>