<h1>Inscripción</h1>

<person-form mode="Inscribir" (formSubmit)="createAsync($event)" />

<h2>Padres</h2>
<hr>
<form [formGroup]="form" class="ui-form" (ngSubmit)="addParent()">
    <ui-input label="Nombre del padre" type="text" [hint]="hint('name')" formControlName="name" />
    <ui-select label="Género del padre" type="boolean" [items]="genders" formControlName="isMasculine" />
    <ui-input label="Teléfono del padre" type="text" formControlName="phone" />
    <button class="ui-button" type="submit">Agregar padre</button>
</form>
<hr>

@if(parents().length > 0){
<div class="ui-table-wrap">
    <table class="ui-table">
        <thead>
            <tr>
                <th>Nombre del padre</th>
                <th>Género</th>
                <th>Teléfono</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @for (parent of parents(); track $index) {
            <tr>
                <td>{{parent.name}}</td>
                <td>@if (parent.isMasculine) {Masculino}@else {Femenino}</td>
                <td>{{parent.phone}}</td>
                <td>
                    <button class="ui-button is-danger" (click)="delParent(parent)">Remover</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}