<shared-alert [(message)]="message" [success]="success" />

<div class="buttons are-medium">
    <button class="button is-primary" [class.is-loading]="creating" [disabled]="creating || form.invalid"
        (click)="AddAsync()">Agregar</button>
    <a class="button" routerLink="/charge/all">Regresar</a>
</div>

<form [formGroup]="form" class="columns is-multiline" (ngSubmit)="AddAsync()">
    <div class="column is-half">
        <div class="field box">
            <label class="subtitle">Nombre</label>
            <div class="control" [class.is-loading]="creating">
                <input type="text" class="input" [class.is-danger]="IsInvalidField('name')" formControlName="name"
                    maxlength="10">
            </div>
        </div>
    </div>

    <div class="column is-half">
        <div class="field box">
            <label class="subtitle">Total del cobro</label>
            <div class="control" [class.is-loading]="creating">
                <input type="number" class="input" [class.i-danger]="IsInvalidField('total')" formControlName="total"
                    placeholder="{{0|currency:symbolCurrency}}">
            </div>
        </div>
    </div>
</form>