@if (day.day > 0) {
<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Día {{day.day}} del mes {{month + 1}}</p>
            <button class="delete" aria-label="close" (click)="CloseModal()"></button>
        </header>
        <section class="modal-card-body">
            @if (day.activities && day.activities.length > 0){
            <div class="table-container">
                <table class="table is-striped is-fullwidth">
                    <thead>
                        <tr>
                            <th class="title is-5">Nombre</th>
                            <th class="title is-5">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (activity of day.activities; track $index) {
                        <tr>
                            <th>{{activity.name}}</th>
                            <th>
                                <a class="button" routerLink="/planner/{{activity.id}}">Ver</a>
                            </th>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            }

            <form [formGroup]="form" (ngSubmit)="CreateActivityAsync()">
                <shared-field field="Nuevo nombre de actividad" [inBox]="false" [loading]="isCreating">
                    <input type="text" class="input" formControlName="name" [class.is-danger]="InvalidaField('name')"
                        maxlength="50">
                    @if (InvalidaField('name')) {
                    <p class="help is-danger has-text-centered">Debe ingresar el nombre para la nueva actividad</p>
                    }
                </shared-field>
            </form>
            <shared-alert [success]="success" [message]="message" />
        </section>
        <footer class="modal-card-foot">
            <div class="buttons">
                <button class="button is-primary" (click)="CreateActivityAsync()">Agregar evento</button>
            </div>
        </footer>
    </div>
</div>
}