<shared-alert [(message)]="message" [success]="success" />

<div class="buttons are-medium">
  <button class="button is-primary" [class.is-loading]="isUpdating" [disabled]="isUpdating || form.invalid"
    (click)="UpdateAsync()">Actualizar</button>
  <a class="button" routerLink="/user/all">Regresar</a>
</div>

<form [formGroup]="form" class="columns is-multiline" (ngSubmit)="UpdateAsync()">
  <div class="column is-half">
    <shared-field [loading]="isUpdating" field="Nombre de usuario">
      <input name="txtName" type="text" class="input" [class.is-danger]="IsInvalidField('username')"
        formControlName="username" maxlength="15">
    </shared-field>
  </div>

  <div class="column is-half">
    <shared-field [loading]="isUpdating" field="Contraseña">
      <input name="txtPass" type="password" class="input" [class.is-danger]="IsInvalidField('password')"
        formControlName="password" maxlength="30" minlength="6">
      @if (IsInvalidField('password')) {
      <p class="help is-danger">La contraseña debe tener, por lo menos: un
        número, una letra mayúscula, un carácter especial y una longitud de 6</p>
      }
    </shared-field>
  </div>

  <div class="column is-half">
    <shared-field field="Está activo">
      <label class="checkbox">
        <input name="chkActive" type="checkbox" formControlName="isActive">
      </label>
    </shared-field>
  </div>

  <div class="column is-half">
    <shared-field field="Roles">
      <div class="checkboxes">
        @for (role of roles; track role) {
        <label class="checkbox">
          <input type="checkbox" [checked]="role.active" [disabled]="!isActive || isUpdating"
            (click)="OnSelectRole(role.name)">
          {{role.name}}
        </label>
        }
      </div>
    </shared-field>
  </div>
</form>