<shared-alert [(message)]="message" [success]="success" />

<div class="buttons are-medium">
    <button class="button is-primary" [class.is-loading]="isAdding" [disabled]="isAdding || form.invalid"
        (click)="AddAsync()">Inscribir</button>
    <a class="button" routerLink="/person/all">Regresar</a>
</div>

<form [formGroup]="form" class="columns is-multiline" (ngSubmit)="AddAsync()">
    <div class="column is-half">
        <div class="field box">
            <label for="txtName" class="subtitle">Nombre</label>
            <div class="control" [class.is-loading]="isAdding">
                <input name="txtName" type="text" class="input" [class.is-danger]="IsInvalidField('name')"
                    formControlName="name" maxdrshlength="50" placeholder="Nombre completo">
            </div>
        </div>
    </div>

    <div class="column is-half">
        <div class="field box">
            <label class="subtitle">Género</label>
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" formControlName="gender">
                    @if (GetValue('gender')) { Masculino}@else { Femenino}
                </label>
            </div>
        </div>
    </div>

    <div class="column is-half">
        <div class="field box">
            <label for="txtDOB" class="subtitle">Fecha de nacimiento</label>
            <div class="control" [class.is-loading]="isAdding">
                <input name="txtDOB" type="date" class="input" [class.is-danger]="IsInvalidField('dob')"
                    formControlName="dob" [max]="GetMDate(true)" [min]="GetMDate(false)">
            </div>
        </div>
    </div>

    <div class="column is-half">
        <div class="field box">
            <label for="chkDay" class="subtitle">Día</label>
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox" formControlName="day">
                    @if (GetValue('day')) { Domingo}@else { Sábado}
                </label>
            </div>
        </div>
    </div>

    <div class="column is-half">
        <div class="field box">
            <label class="subtitle">Sacramentos que tiene</label>
            <div class="control">
                <div class="checkboxes" *ngFor="let sacrament of sacraments">
                    <label class="checkbox">
                        <input type="checkbox" [value]="sacrament.id" (click)="SelectSacrament(sacrament.id)">
                        {{sacrament.name}}
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="column is-half">
        <div class="field box">
            <label for="lstDegree" class="subtitle">Grado académico</label>
            <div class="control" [class.is-loading]="isAdding">
                <div class="select">
                    <select name="lstDegree" formControlName="degreeId">
                        <option *ngFor="let degree of degrees" [value]="degree.id">{{degree.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="column is-half">
        <div class="field box">
            <label for="txtAddress" class="subtitle">Dirección</label>
            <div class="control" [class.is-loading]="isAdding">
                <textarea name="txtAddress" class="textarea" [class.is-danger]="IsInvalidField('address')"
                    formControlName="address" maxlength="100"></textarea>
            </div>
        </div>
    </div>

    <div class="column is-half">
        <div class="field box">
            <label for="txtPhone" class="subtitle">Número telefónico</label>
            <div class="control" [class.is-loading]="isAdding">
                <input name="txtPhone" type="text" class="input" [class.is-danger]="IsInvalidField('phone')"
                    formControlName="phone" maxlength="9" (input)="FormatPhone()" placeholder="xxxx-xxxx">
            </div>
        </div>
    </div>

    <div class="column is-half">
        <div class="field box">
            <label class="subtitle">Pagó inscripción</label>
        </div>
        <div class="control">
            <label class="checkbox">
                <input type="checkbox" formControlName="pay">
                @if (GetValue('pay')) { Sí}@else { No} ({{100|currency:currencySymbol}})
            </label>
        </div>
    </div>
</form>

<people-in-parent [(parents)]="parents" />

<div class="buttons are-medium">
    <button class="button is-primary" [class.is-loading]="isAdding" [disabled]="isAdding || form.invalid"
        (click)="AddAsync()">Inscribir</button>
</div>