:root {
    color-scheme: light;

    /* Base */
    --color-bg: #0f1220;
    --color-surface: rgba(255, 255, 255, .06);
    --color-surface-2: rgba(255, 255, 255, .10);
    --color-border: rgba(255, 255, 255, .14);

    /* Texto */
    --color-text: rgba(255, 255, 255, .92);
    --color-text-muted: rgba(255, 255, 255, .70);

    /* Marca / acento */
    --color-accent: #7c5cff;
    --color-accent-contrast: #0b0b12;

    /* Estados */
    --color-danger: #ff4d4d;
    --color-warning: #ffcc00;
    --color-success: #42d392;

    /* Focus */
    --color-focus: rgba(124, 92, 255, .55);

    /* Layout */
    --nav-rail-w: 76px;
    --content-max: 1200px;

    --page-bg: var(--color-bg);
}

/* Tema oscuro explícito */
:root[data-theme="dark"] {
    color-scheme: dark;

    --color-bg: #0b0e18;
    --color-surface: rgba(255, 255, 255, .06);
    --color-surface-2: rgba(255, 255, 255, .10);
    --color-border: rgba(255, 255, 255, .14);

    --color-text: rgba(255, 255, 255, .92);
    --color-text-muted: rgba(255, 255, 255, .70);

    --color-accent: #7c5cff;
    --color-accent-contrast: #0b0b12;

    --color-focus: rgba(124, 92, 255, .55);
}

/* Tema claro */
:root[data-theme="light"] {
    color-scheme: light;

    --color-bg: #f6f7fb;
    --color-surface: rgba(10, 12, 20, .05);
    --color-surface-2: rgba(10, 12, 20, .08);
    --color-border: rgba(10, 12, 20, .12);

    --color-text: rgba(10, 12, 20, .92);
    --color-text-muted: rgba(10, 12, 20, .66);

    --color-accent: #5b5cff;
    --color-accent-contrast: #ffffff;

    --color-focus: rgba(91, 92, 255, .35);
}

:root[data-theme="light"][data-route-theme="permissions"] {
    --page-bg: #9caee7;
}

:root[data-theme="dark"][data-route-theme="permissions"] {
    --page-bg: #0f172a;
}

:root[data-theme="light"][data-route-theme="roles"] {
    --page-bg: #9ce7b2;
}

:root[data-theme="dark"][data-route-theme="roles"] {
    --page-bg: #112a0f;
}