<shared-alert [(message)]="message" [success]="success" />

<form [formGroup]="form" class="columns is-multiline" (ngSubmit)="UpdateAsync()">
    <div class="column is-half">
        <div class="field box">
            <label class="subtitle">Nombre de usuario</label>
            <div class="control" [class.is-loading]="isUpdating">
                <input type="text" class="input" [class.is-danger]="IsInvalidField('username')"
                    formControlName="username" maxlength="15">
            </div>
        </div>
    </div>

    <div class="column is-half">
        <div class="field box">
            <label class="subtitle">Nueva contraseña</label>
            <div class="control" [class.is-loading]="isUpdating">
                <input type="password" class="input" [class.is-danger]="IsInvalidField('password')"
                    formControlName="password" maxlength="30">
            </div>
            <p class="help is-danger" *ngIf="IsInvalidField('password')">La contraseña debe tener, por lo menos: un
                número,
                una letra mayúscula, un carácter especial y una longitud de 6</p>
        </div>
    </div>

    <div class="column is-half">
        <div class="field box">
            <label class="subtitle">Roles</label>
            <div class="control">
                <p class="subtitle is-5" *ngFor="let role of roles">{{role}}</p>
            </div>
        </div>
    </div>
</form>

<div class="buttons are-medium">
    <button class="button is-primary" [class.is-loading]="isUpdating" [disabled]="isUpdating"
        (click)="UpdateAsync()">Actualizar</button>
</div>