<shared-alert [(message)]="message" [success]="success" />
<shared-updater [(show)]="showUpdater" [endpoint]="'ActionLog'" [record]="selectedAction" />

@if (isSys) {
<div class="buttons are-medium">
  <a class="button is-primary" routerLink="/action/new">Agregar</a>
</div>
}

<table class="table is-fullwidth is-hoverable is-striped">
  <thead>
    <th>Nombre</th>
    <th>Acción</th>
  </thead>
  <tbody>
    @for (action of actions; track action) {
    <tr>
      <td>{{action.name}}</td>
      <td>
        <button class="button" (click)="SelectAction(action)">Actualizar</button>
      </td>
    </tr>
    }
  </tbody>
</table>