<shared-updater [(show)]="showUpdater" [record]="selectedDocument" endpoint="Document" />

<div class="buttons are-medium">
    <a class="button is-primary" routerLink="/docs/new" *ngIf="isAdm">Agregar</a>
</div>

<div class="table-container" *ngIf="docs.length > 0">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <th>Nombre</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            <tr *ngFor="let doc of docs">
                <td>{{doc.name}}</td>
                <td>
                    <div class="buttons">
                        <button class="button is-primary" *ngIf="isAdm"
                            (click)="SelectDocument(doc)">Actualizar</button>
                        <a class="button" routerLink="/docs/{{doc.id}}">Seleccionar</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>