<shared-pan-expand title="Página">
    <form [formGroup]="form" class="columns is-multiline">
        <div class="column is-half">
            <shared-field [inBox]="false" field="Orientación">
                <div class="select">
                    <select formControlName="isVertical">
                        <option value="true">Vertical</option>
                        <option value="false">Horizontal</option>
                    </select>
                </div>
            </shared-field>
        </div>

        <div class="column is-half">
            <shared-field [inBox]="false" field="Fecha">
                <input type="text" formControlName="date" placeholder="Fecha en que se imparte el sacramento"
                    class="input" />
            </shared-field>
        </div>

        <div class="column is-half">
            <shared-field [inBox]="false" field="Iglesia">
                <input type="text" class="input"
                    placeholder="Nombre de la iglesia/parroquia donde se impartió el sacramento"
                    formControlName="church">
            </shared-field>
        </div>

        <div class="column is-half">
            <shared-field [inBox]="false" field="Firma">
                <input type="text" class="input" placeHolder="Descripción de la persona que firma los diplomas"
                    formControlName="signature">
            </shared-field>
        </div>

        <div class="column is-half">
            <shared-field [inBox]="false" field="Celebrante">
                <input type="text" class="input" formControlName="officiant"
                    placeholder="Nombre del obispo que imparte sacramento">
            </shared-field>
        </div>

        <div class="column is-half">
            <shared-field [inBox]="false" field="Fondo">
                <div class="file">
                    <label class="file-label">
                        <input class="file-input" type="file" name="resume" accept="image/*"
                            (change)="onBackgroundSelected($event)" />
                        <span class="file-cta">
                            <span class="file-icon">
                                <i class="fas fa-upload"></i>
                            </span>
                            <span class="file-label"> Subir archivo… </span>
                        </span>
                    </label>
                </div>
            </shared-field>
        </div>

        @if (backgroundImage){
        <div class="column is-half">
            <shared-field [inBox]="false" field="Transparencia">
                <input type="range" min="0" max="1" step="0.05" formControlName="opacity">
                <p class="help">
                    Opacidad: {{ GetValue('opacity') | number:'1.2-2' }}
                </p>
            </shared-field>
        </div>
        }

        <div class="column is-full">
            <shared-field [inBox]="false" field="Cita bíblica">
                <textarea class="textarea" formControlName="cite"
                    placeholder="Cita bíblica del pie de página"></textarea>
            </shared-field>
        </div>
    </form>
</shared-pan-expand>

<hr>

<prints-printer fileName="Diplomas" [isVertical]="GetValue('isVertical') === 'true'">
    @for (person of people; track $index) {
    <div [ngStyle]="pageStyle" class="page is-flex is-flex-direction-column is-justify-content-center">
        <div class="content-wrapper columns is-multiline is-mobile">
            <div class="column is-full has-text-centered has-text-weight-bold">
                <label class="title is-2 has-text-black">{{GetValue('church')}}</label>
            </div>
            <div class="column is-one-third has-text-right">
                <label class="subtitle is-3 has-text-black">Certifica que:</label>
            </div>
            <div class="column is-two-thirds has-text-left">
                <p class="subtitle is-3 has-text-black">{{person.name}}</p>
            </div>
            <div class="column is-one-third has-text-right">
                <label class="subtitle is-3 has-text-black">Nacido el:</label>
            </div>
            <div class="column is-two-thirds has-text-left">
                <p class="subtitle is-3 has-text-black">{{GetDOB(person.dob)}}</p>
            </div>
            <div class="column is-one-third has-text-right">
                <label class="subtitle is-3 has-text-black">Hijo de:</label>
            </div>
            <div class="column is-two-thirds has-text-left">
                <p class="subtitle is-3 has-text-black">{{GetParents(person.parents)}}</p>
            </div>
            <div class="column is-one-third has-text-right">
                <label class="subtitle is-3 has-text-black">Bautizado en:</label>
            </div>
            <div class="column is-two-thirds has-text-left">
                <p class="subtitle is-3 has-text-black">{{person.parish}}</p>
            </div>
            <div class="column is-one-third has-text-right">
                <label class="subtitle is-3 has-text-black">Siendo sus padrinos:</label>
            </div>
            <div class="column is-two-thirds has-text-left">
                <p class="subtitle is-3 has-text-black">{{GetParents(person.godparents)}}</p>
            </div>

            <div class="column is-full has-text-centered">
                <p class="subtitle is-3 has-text-black">Recibió el sacramento de la Confirmación el {{GetValue('date')}}
                </p>
            </div>
            <div class="column is-full has-text-centered">
                <p class="subtitle is-4 has-text-black">Impartió el sacramento {{GetValue('officiant')}}</p>
            </div>
            <div class="column is-full"></div>
            <div class="column is-full"></div>
            <div class="column is-full"></div>
            <div class="column is-half"></div>
            <div class="column is-half">
                <p class="subtitle is-6 has-text-black has-text-centered" style="border-top: 2px solid black;">
                    {{GetValue('signature')}}</p>
            </div>
            <div class="column is-full has-text-centered">
                <p class="subtitle is-4 has-text-black is-italic">{{GetValue('cite')}}</p>
            </div>
        </div>
    </div>
    }
</prints-printer>