<nav class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">
            <img src="https://pub-e47275a009714794bcff2eb4713b67bb.r2.dev/mrcd.png">
        </a>

        <button (click)="ShowMenu()" [class.is-active]="burgerActive" class="navbar-burger" aria-label="menu"
            aria-expanded="false" data-target="navbarBurger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </button>
    </div>

    <div id="navbarBurger" class="navbar-menu" [class.is-active]="burgerActive">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Confirmandos</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">Inscripciones</a>
                    <a class="navbar-item">Actualizar</a>
                    <a class="navbar-item">Asistencia</a>
                </div>
            </div>

            @if (isAdm) {
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Impresiones</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">Gafetes</a>
                    <a class="navbar-item">Diplomas</a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Gestiones</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item">Usuarios</a>
                    <a class="navbar-item" routerLink="/degree/all">Grados académicos</a>
                    <a class="navbar-item">Sacramentos</a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">Logs</a>
                    <a class="navbar-item" routerLink="/action/all">Acciones de logs</a>
                </div>
            </div>
            }

            <div class="navbar-item has-dropdown is-hoverable" *ngIf="isSys">
                <a class="navbar-link">System</a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" routerLink="/role/all">Roles</a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <button class="button is-primary" [class.is-loading]="isLogouting" [disabled]="isLogouting"
                    (click)="Logout()">Logout</button>
            </div>
        </div>
    </div>
</nav>