<a class="ui-button" routerLink="/charges/new">Nuevo</a>

<h1>Cobros</h1>
<div class="ui-table-wrap">
    <table class="ui-table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Monto</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @for (charge of charges(); track charge.id) {
            <tr>
                <td>{{charge.name}}</td>
                <td>{{charge.amount|currency:symbol}}</td>
                <td>
                    <button class="ui-button is-danger" (click)="deleteAsync(charge.id)">Eliminar</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>