<section class="section">
    <div class="container">
        <shared-alert [(message)]="lblMessage" [success]="isSuccess" />

        <form [formGroup]="form" class="box columns is-multiline" (ngSubmit)="Login()">
            <div class="column is-3 has-text-right">
                <label for="txtName" class="subtitle">Usuario</label>
            </div>
            <div class="column is-9">
                <div class="control" [class.is-loading]="isLogging">
                    <input name="txtName" type="text" class="input" [class.is-danger]="IsInvalidField('name')"
                        formControlName="name" maxlength="15">
                </div>
            </div>

            <div class="column is-3 has-text-right">
                <label for="txtPass" class="subtitle">Contraseña</label>
            </div>
            <div class="column is-9">
                <div class="control" [class.is-loading]="isLogging">
                    <input name="txtPass" type="password" class="input" [class.is-danger]="IsInvalidField('pass')"
                        formControlName="pass" maxlength="15">
                </div>
            </div>

            <div class="column is-full">
                <button class="button is-fullwidth is-primary" [class.is-loading]="isLogging" [disabled]="isLogging"
                    (click)="Login()">Login</button>
            </div>
        </form>
    </div>
</section>