<div class="box">
    <form [formGroup]="form">
        <div class="field">
            <label class="title is-5">Padres</label>
        </div>

        <div class="field">
            <label for="txtParent" class="subtitle">Nombre del padre</label>
            <div class="control">
                <input name="txtParent" type="text" class="input" [class.is-danger]="IsInvalidField('name')"
                    formControlName="name" maxlength="50" (input)="Update()">
            </div>
        </div>

        <div class="field">
            <label class="subtitle">Género</label>
            <div class="control">
                <div class="select">
                    <select formControlName="gender">
                        <option value="true">Masculino</option>
                        <option value="false">Femenino</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="subtitle">Teléfono</label>
            <div class="control">
                <input type="text" class="input" [class.is-danger]="IsInvalidField('phone')" formControlName="phone"
                    (input)="FormatPhone()" placeholder="xxxx-xxxx" (input)="Update()">
            </div>
        </div>
    </form>
</div>