<div class="tags has-addons are-large">
    <span class="tag">Total</span>
    <span class="tag is-primary">{{people.length}}</span>
</div>

<shared-pan-expand title="Filtros">
    <div class="buttons are-medium">
        <button class="button is-info" (click)="ClearFilters()">Limpiar filtros</button>
    </div>

    <form [formGroup]="form" class="columns is-multiline">
        <div class="column is-half">
            <div class="field">
                <label class="subtitle">Nombre</label>
                <div class="control">
                    <input type="text" class="input" (input)="FilterBy('name')" formControlName="name">
                </div>
            </div>
        </div>

        <div class="column is-half">
            <div class="field">
                <label class="subtitle">Género</label>
                <div class="control">
                    <div class="select">
                        <select formControlName="gender">
                            <option (click)="FilterBy('gender')" value="true">Masculino</option>
                            <option (click)="FilterBy('gender')" value="false">Femenino</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="column is-half">
            <div class="field">
                <label class="subtitle">Día</label>
                <div class="control">
                    <div class="select">
                        <select formControlName="day">
                            <option (click)="FilterBy('day')" value="true">Domingo</option>
                            <option (click)="FilterBy('day')" value="false">Sábado</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</shared-pan-expand>

<hr>

<prints-printer fileName="ListadoGeneral">
    <table class="table is-fullwidth has-background-white">
        <thead>
            <th class="has-text-black">Nombre</th>
            <th class="has-text-black">Género</th>
            <th class="has-text-black">Día</th>
            <th class="has-text-black">Fecha de nacimiento</th>
            <th class="has-text-black">Encargados</th>
        </thead>
        <tbody>
            <tr class="has-text-black" *ngFor="let person of people">
                <td class="has-text-black">{{person.name}}</td>
                <td class="has-text-black">
                    @if (person.gender) {Masculino}@else {Femenino}
                </td>
                <td class="has-text-black">
                    @if (person.day) {Domingo} @else {Sábado}
                </td>
                <td class="has-text-black">{{GetDOB(person.dob)}}</td>
                <td class="has-text-black">{{person.parents?.toString()}}</td>
            </tr>
        </tbody>
    </table>
</prints-printer>