<shared-alert [(message)]="message" [success]="success" />

<div class="buttons are-medium">
    <button class="button is-primary" [class.is-loading]="creating" [disabled]="creating || form.invalid"
        (click)="AddAsync()">Agregar</button>
    <a class="button" routerLink="/charge/all">Regresar</a>
</div>

<form [formGroup]="form" class="columns is-multiline" (ngSubmit)="AddAsync()">
    <div class="column is-half">
        <shared-field [loading]="creating" field="Nombre">
            <input type="text" class="input" [class.is-danger]="IsInvalidField('name')" formControlName="name"
                maxlength="11">
        </shared-field>
    </div>

    <div class="column is-half">
        <shared-field [loading]="creating" field="Total del cobro">
            <input type="number" class="input" [class.i-danger]="IsInvalidField('total')" formControlName="total"
                placeholder="{{0|currency:symbolCurrency}}">
        </shared-field>
    </div>
</form>