@if (message()) {
<p class="ui-danger">{{message()}}</p>
}

<section class="ui-section">
    <form class="ui-box ui-form" [formGroup]="form" (ngSubmit)="loginAsync()">
        <ui-input label="Usuario" type="text" [hint]="invalidField('username')" formControlName="username" />
        <ui-input label="Contraseña" type="password" [hint]="invalidField('password')" formControlName="password" />

        <div class="ui-actions">
            <button class="ui-button" type="submit" [disabled]="isLoading()">
                @if (isLoading()) {...}@else {Login}
            </button>
        </div>
    </form>
</section>