<shared-alert [(message)]="message" [success]="success" />

<div class="buttons are-medium">
    <button class="button is-primary" [class.is-loading]="isUpdating" [disabled]="isUpdating || form.invalid"
        (click)="UpdateAsync()">Actualizar</button>
    <a class="button" routerLink="/person/all">Regresar</a>
</div>

<form [formGroup]="form" class="box columns is-multiline" (ngSubmit)="UpdateAsync()">
    <div class="column is-3 has-text-right">
        <label for="txtName" class="subtitle">Nombre</label>
    </div>
    <div class="column is-9">
        <div class="control" [class.is-loading]="isUpdating">
            <input name="txtName" type="text" class="input" [class.is-danger]="IsInvalidField('name')"
                formControlName="name" maxlength="30">
        </div>
    </div>

    <div class="column is-3 has-text-right">
        <label class="subtitle">Género</label>
    </div>
    <div class="column is-9">
        <label class="checkbox">
            <input type="checkbox" formControlName="gender">
            @if (GetValue('gender')) { Masculino} @else { Femenino}
        </label>
    </div>

    <div class="column is-3 has-text-right">
        <label for="txtDob" class="subtitle">Fecha de nacimiento</label>
    </div>
    <div class="column is-9">
        <div class="control" [class.is-loading]="isUpdating">
            <input name="txtDob" type="date" class="input" formControlName="dob" [max]="GetMDate(true)"
                [min]="GetMDate(false)">
        </div>
    </div>

    <div class="column is-3 has-text-right">
        <label class="subtitle">Día</label>
    </div>
    <div class="column is-9">
        <label class="checkbox">
            <input type="checkbox" formControlName="day">
            @if (GetValue('day')) { Domingo} @else { Sábado}
        </label>
    </div>

    <div class="column is-3 has-text-right">
        <label class="subtitle">Activo</label>
    </div>
    <div class="column is-9">
        <label class="checkbox">
            <input type="checkbox" formControlName="isActive">
            @if (GetValue('isActive')) { Activo} @else { Inactivo}
        </label>
    </div>

    <div class="column is-3 has-text-right">
        <label for="lstDegree" class="subtitle">Grado académico</label>
    </div>
    <div class="column is-9">
        <div class="select" [class.is-loading]="isUpdating">
            <select name="lstDegree" formControlName="degreeId">
                <option *ngFor="let degree of degrees" value="{{degree.id}}">{{degree.name}}</option>
            </select>
        </div>
    </div>

    <div class="column is-3 has-text-right">
        <label for="txtAddress" class="subtitle">Dirección</label>
    </div>
    <div class="column is-9">
        <div class="control" [class.is-loading]="isUpdating">
            <textarea name="txtAddress" class="textarea" [class.is-danger]="IsInvalidField('address')"
                formControlName="address" maxlength="100"></textarea>
        </div>
    </div>

    <div class="column is-3 has-text-right">
        <label class="subtitle">Parroquia de bautizo</label>
    </div>
    <div class="column is-9">
        <div class="control" [class.is-loading]="isUpdating">
            <input type="text" class="input" [class.is-danger]="IsInvalidField('parish')" formControlName="parish"
                maxlength="30">
        </div>
    </div>

    <div class="column is-3 has-text-right">
        <label for="txtPhone" class="subtitle">Número telefónico</label>
    </div>
    <div class="column is-9">
        <div class="control" [class.is-loading]="isUpdating">
            <input name="txtPhone" type="text" class="input" [class.is-danger]="IsInvalidField('phone')"
                formControlName="phone" maxlength="9" (input)="FormatPhone()">
        </div>
    </div>

    <div class="column is-3 has-text-right">
        <label class="subtitle">Sacramentos</label>
    </div>
    <div class="column is-9">
        <div class="checkboxes" *ngFor="let sacrament of sacraments">
            <label class="checkbox">
                <input type="checkbox" (click)="SelectSacrament(sacrament)">
                {{sacrament.name}}
            </label>
        </div>
    </div>
</form>

<people-comp-parents [(updating)]="isUpdating" [id]="id" [isParent]="true" [parents]="parents" />

<people-comp-parents [(updating)]="isUpdating" [id]="id" [isParent]="false" [parents]="godparents" />