<h2>Usuario seleccionado: {{user().username}}</h2>
<hr>
<ui-input label="Nombre" type="text" />

@let active = isActive();
<div class="ui-table-wrap">
    <table class="ui-table">
        <thead>
            <tr>
                <th>Rol</th>
                @if (active) {
                <th>Acción</th>
                }
            </tr>
        </thead>
        <tbody>
            @for (role of roles(); track $index) {
            <tr>
                <td>{{role.roleName}}</td>
                @if (active) {
                <td>
                    @if (role.hasRole) {
                    <button class="ui-button is-danger" (click)="assignAsync(role, false)">Eliminar</button>
                    }@else {
                    <button class="ui-button" (click)="assignAsync(role, true)">Asignar</button>
                    }
                </td>
                }
            </tr>
            }
        </tbody>
    </table>
</div>