<shared-alert [(message)]="lblMessage" [success]="success" />

<div class="buttons are-medium">
    <button class="button is-primary" [class.is-loading]="isAdding" [disabled]="isAdding || form.invalid"
        (click)="AddAsync()">Agregar</button>
    <a class="button" routerLink="/action/all">Regresar</a>
</div>

<form [formGroup]="form" (ngSubmit)="AddAsync()">
    <shared-field [loading]="isAdding" field="Nombre de acción">
        <input name="txtName" type="text" class="input" [class.is-danger]="isInvalidName" formControlName="name"
            maxlength="10">
    </shared-field>
</form>