<div class="tags has-addons are-large">
  <span class="tag">Total</span>
  <span class="tag is-primary">{{people.length}}</span>
</div>

<shared-pan-expand title="Filtros">
  <div class="buttons are-medium">
    <button class="button is-info" (click)="ClearFilters()">Limpiar filtros</button>
  </div>

  <form [formGroup]="form" class="columns is-multiline">
    <div class="column is-half">
      <shared-field [inBox]="false" field="Nombre">
        <input type="text" class="input" formControlName="name">
      </shared-field>
    </div>

    <div class="column is-half">
      <shared-field [inBox]="false" field="Género">
        <div class="select">
          <select formControlName="gender">
            <option value="true">Masculino</option>
            <option value="false">Femenino</option>
          </select>
        </div>
      </shared-field>
    </div>

    <div class="column is-half">
      <shared-field [inBox]="false" field="Día">
        <div class="select">
          <select formControlName="day">
            <option value="true">Domingo</option>
            <option value="false">Sábado</option>
          </select>
        </div>
      </shared-field>
    </div>

    <div class="column is-half">
      <shared-field [inBox]="false" field="Ordenar por">
        <div class="select">
          <select formControlName="orderBy">
            <option value="true">Nombre</option>
            <option value="false">Fecha de inscripción</option>
          </select>
        </div>
      </shared-field>
    </div>
  </form>
</shared-pan-expand>

<hr>

<shared-pan-expand title="Página">
  <form [formGroup]="showers" class="columns is-multiline">
    <div class="column is-half">
      <shared-field field="Orientación" [inBox]="false">
        <div class="select">
          <select formControlName="isVertical">
            <option value="true">Vertical</option>
            <option value="false">Horizontal</option>
          </select>
        </div>
      </shared-field>
    </div>

    <div class="column is-half">
      <shared-field field="Mostrar teléfonos" [inBox]="false">
        <div class="select">
          <select formControlName="showPhones">
            <option value="true">Mostrar teléfonos</option>
            <option value="false">No mostrar teléfonos</option>
          </select>
        </div>
      </shared-field>
    </div>

    <div class="column is-half">
      <shared-field field="Mostrar nacimiento" [inBox]="false">
        <div class="select">
          <select formControlName="showDOB">
            <option value="true">Mostrar nacimiento</option>
            <option value="false">No mostrar nacimiento</option>
          </select>
        </div>
      </shared-field>
    </div>

    <div class="column is-half">
      <shared-field field="Mostrar parroquia" [inBox]="false">
        <div class="select">
          <select formControlName="showParish">
            <option value="true">Mostrar parroquia</option>
            <option value="false">No mostrar parroquia</option>
          </select>
        </div>
      </shared-field>
    </div>

    <div class="column is-half">
      <shared-field field="Mostrar dirección" [inBox]="false">
        <div class="select">
          <select formControlName="showAddress">
            <option value="true">Mostrar dirección</option>
            <option value="false">No mostrar dirección</option>
          </select>
        </div>
      </shared-field>
    </div>

    <div class="column is-half">
      <shared-field field="Mostrar padres" [inBox]="false">
        <div class="select">
          <select formControlName="showParents">
            <option value="true">Mostrar padres</option>
            <option value="false">No mostrar padres</option>
          </select>
        </div>
      </shared-field>
    </div>

    <div class="column is-half">
      <shared-field field="Mostrar padrinos" [inBox]="false">
        <div class="select">
          <select formControlName="showGodparents">
            <option value="true">Mostrar padrinos</option>
            <option value="false">No mostrar padrinos</option>
          </select>
        </div>
      </shared-field>
    </div>
  </form>
</shared-pan-expand>

<hr>

<prints-printer fileName="ListadoGeneral" [isVertical]="GetShowValue('isVertical')">
  <h1 class="title has-text-centered has-text-black">Listado general</h1>
  <table class="table is-fullwidth has-background-white">
    <thead>
      <th class="has-text-black">Nombre</th>
      <th class="has-text-black">Género</th>
      <th class="has-text-black">Día</th>
      @if (GetShowValue('showDOB')) {
      <th class="has-text-black">Fecha de nacimiento</th>
      }
      @if (GetShowValue('showPhones')) {
      <th class="has-text-black">Teléfono</th>
      }
      @if (GetShowValue('showParish')) {
      <th class="has-text-black">Parroquia bautizo</th>
      }
      @if (GetShowValue('showAddress')) {
      <th class="has-text-black">Dirección</th>
      }
      @if (GetShowValue('showParents')) {
      <th class="has-text-black">Padres</th>
      }
      @if (GetShowValue('showGodparents')) {
      <th class="has-text-black">Padrinos</th>
      }
    </thead>
    <tbody>
      @for (person of people; track person) {
      <tr class="has-text-black">
        <td class="has-text-black">{{person.name}}</td>
        <td class="has-text-black">
          @if (person.gender) {Masculino}@else {Femenino}
        </td>
        <td class="has-text-black">
          @if (person.day) {Domingo} @else {Sábado}
        </td>
        @if (GetShowValue('showDOB')) {
        <td class="has-text-black">{{GetDOB(person.dob)}}</td>
        }
        @if (GetShowValue('showPhones')) {
        <td class="has-text-black">{{GetFormatedPhone(person.phone)}}</td>
        }
        @if (GetShowValue('showParish')) {
        <td class="has-text-black">{{person.parish}}</td>
        }
        @if (GetShowValue('showAddress')) {
        <td class="has-text-black">{{person.address}}</td>
        }
        @if (GetShowValue('showParents')) {
        <td class="has-text-black">{{GetFormatedParents(person.parents)}}</td>
        }
        @if (GetShowValue('showGodparents')) {
        <td class="has-text-black">{{GetFormatedParents(person.godparents)}}</td>
        }
      </tr>
      }
    </tbody>
  </table>
</prints-printer>