<shared-alert [(message)]="lblMessage" [success]="success" />

<div class="buttons are-medium">
    <button class="button is-primary" [class.is-loading]="isAdding" [disabled]="isAdding || form.invalid"
        (click)="AddAsync()">Agregar</button>
    <a class="button" routerLink="/action/all">Regresar</a>
</div>

<form [formGroup]="form" (ngSubmit)="AddAsync()">
    <div class="field box">
        <label for="txtName" class="subtitle">Nombre de acción</label>
        <div class="control" [class.is-loading]="isAdding">
            <input name="txtName" type="text" class="input" [class.is-danger]="isInvalidName" formControlName="name"
                maxlength="10">
        </div>
    </div>
</form>