<div class="modal is-active" *ngIf="show">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Actualiza registro {{record.name}}</p>
            <button class="delete" aria-label="close" (click)="Hide()"></button>
        </header>

        <section class="modal-card-body">
            <shared-alert [message]="message" [success]="success" />

            <form [formGroup]="form" class="columns is-multiline" (ngSubmit)="UpdateAsync()">
                <div class="column is-3 has-text-right">
                    <label for="txtName" class="subtitle">Nombre</label>
                </div>
                <div class="column is-9">
                    <div class="control" [class.is-loading]="isUpdating">
                        <input name="txtName" type="text" class="input" [class.is-danger]="isInvalidName"
                            formControlName="name" maxlength="10">
                    </div>
                </div>
            </form>
        </section>

        <footer class="modal-card-foot">
            <div class="buttons">
                <button class="button is-success" [class.is-loadig]="isUpdating" [disabled]="isUpdating || form.invalid"
                    (click)="UpdateAsync()">Actualizar</button>
            </div>
        </footer>
    </div>
</div>