<shared-alert [(message)]="lblMessage" [success]="isSuccess" />

<div class="buttons are-medium">
    <button class="button is-primary" [class.is-loading]="isAdding" [disabled]="isAdding || form.invalid"
        (click)="AddAsync()">+
        Add</button>
    <a class="button" routerLink="/role/all">Back</a>
</div>

<form [formGroup]="form" (ngSubmit)="AddAsync()">
    <shared-field [loading]="isAdding" field="Nombre">
        <input name="txtName" type="text" class="input" [class.is-danger]="isInvalidName" formControlName="name">
    </shared-field>
</form>