<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <section class="modal-card-body">
            Se registrará la asistencia de "hoy", para todos los confirmandos del día:

            <div class="control">
                <div class="select">
                    <select [(ngModel)]="day" (ngModelChange)="ChangeDay()">
                        <option value="true">Domingo</option>
                        <option value="false">Sábado</option>
                    </select>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <div class="buttons">
                <button class="button is-success" (click)="CheckAllAsync()">Continuar</button>
                <button class="button" (click)="Hide()">Regresar</button>
            </div>
        </footer>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="Hide()"></button>
</div>