<shared-alert [(message)]="message" [success]="success" />

<div class="buttons are-medium">
    <button class="button is-primary" [class.is-loading]="isAdding" [disabled]="isAdding || form.invalid"
        (click)="AddAsync()">Agregar</button>
    <a class="button" routerLink="/degree/all">Regresar</a>
</div>

<form [formGroup]="form" class="columns is-multiline" (ngSubmit)="AddAsync()">
    <div class="column is-3 has-text-right">
        <label for="txtName" class="subtitle">Nombre de grado académico</label>
    </div>
    <div class="column is-9">
        <div class="control" [class.is-loading]="isAdding">
            <input name="txtName" type="text" class="input" [class.is-danager]="isInvalidName" formControlName="name"
                maxlength="10">
        </div>
    </div>
</form>