<shared-alert [(message)]="message" [success]="success" />

<div class="buttons are-medium">
  <a class="button is-primary" routerLink="/person/new">Inscribir</a>
  <button class="button is-info" [class.is-loading]="isSearching" [disabled]="isSearching"
  (click)="FillAsync()">Buscar</button>
  <button class="button" (click)="ClearFilters()">Limpiar filtros</button>
</div>

<form [formGroup]="form" class="box columns is-multiline" (ngSubmit)="FillAsync()">
  <div class="column is-half">
    <shared-field [loading]="isSearching" [inBox]="false" field="Género">
      <div class="select" [class.is-loading]="isSearching">
        <select formControlName="gender">
          <option [value]="true">Masculino</option>
          <option [value]="false">Femenino</option>
        </select>
      </div>
    </shared-field>
  </div>

  <div class="column is-half">
    <shared-field [loading]="isSearching" [inBox]="false" field="Día">
      <div class="select" [class.is-loading]="isSearching">
        <select formControlName="day">
          <option value="{{true}}">Domingo</option>
          <option value="{{false}}">Sábado</option>
        </select>
      </div>
    </shared-field>
  </div>

  <div class="column is-half">
    <shared-field [loading]="isSearching" [inBox]="false" field="Activos">
      <label class="checkbox">
        <input type="checkbox" formControlName="isActive">
        @if (GetValue('isActive')) { Solo activos} @else { Solo inactivos}
        </label>
      </shared-field>
    </div>

    <div class="column is-half">
      <shared-field [loading]="isSearching" [inBox]="false" field="Grado académico">
        <div class="select">
          <select formControlName="degreeId">
            @for (degree of degrees; track degree) {
              <option [value]="degree.id">{{degree.name}}</option>
            }
          </select>
        </div>
      </shared-field>
    </div>

    <div class="column is-half">
      <shared-field [loading]="isSearching" [inBox]="false" field="Nombre de confirmando">
        <input name="txtName" type="text" class="input" formControlName="name" maxlength="30">
      </shared-field>
    </div>
  </form>

  @if (people.length > 0) {
    <div class="table-container">
      <table class="table is-hoverable is-fullwidth is-striped">
        <thead>
          <th>Activo</th>
          <th>Nombre</th>
          <th>Día</th>
          <th>Género</th>
          <th>Acción</th>
        </thead>
        <tbody>
          @for (person of people; track person) {
            <tr>
              <th>
                <label class="checkbox">
                  <input type="checkbox" checked="{{person.isActive}}">
                </label>
              </th>
              <td>{{person.name}}</td>
              <td>@if (person.day) {Domingo}@else {Sábado}</td>
              <td>@if (person.gender) {Masculino}@else {Femenino}</td>
              <td>
                <a class="button is-warning" routerLink="/person/{{person.id}}">Actualizar</a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    }@else {
    <div class="notification is-warning">
      <p>No hay información para mostrar</p>
    </div>
  }

  @if (people.length > 0) {
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      @if (page > 1) {
        <button type="button" class="pagination-previous" [class.is-loading]="isSearching" [disabled]="isSearching"
        (click)="ChangePage(false)">Página anterior</button>
      }
      @if (page < lastPage) {
        <button type="button" class="pagination-next" [class.is-loading]="isSearching" [disabled]="isSearching"
        (click)="ChangePage(true)">Siguiente página</button>
      }
      <p class="pagination-list">{{page}}/{{lastPage}}</p>
    </nav>
  }