<shared-alert [(message)]="message" [success]="success" />

<div class="buttons are-medium">
    <button class="button is-warning" [class.is-loading]="isUpdating" [disabled]="isUpdating || form.invalid"
        (click)="UpdateAsync()">Actualizar</button>
    <a class="button" routerLink="/parent/all">Regresar</a>
</div>

<form [formGroup]="form" class="columns is-multiline" (ngSubmit)="UpdateAsync()">
    <div class="column is-half">
        <shared-field [loading]="isUpdating" field="Nombre">
            <input type="text" class="input" [class.is-danger]="IsInvalidField('name')" formControlName="name"
                maxlength="30">
        </shared-field>
    </div>

    <div class="column is-half">
        <shared-field field="Género">
            <label class="checkbox">
                <input type="checkbox" formControlName="gender">
                @if (GetValue('gender')) { Masculino}@else { Femenino}
            </label>
        </shared-field>
    </div>

    <div class="column is-half">
        <shared-field [loading]="isUpdating" field="Número telefónico">
            <input type="text" class="input" [class.is-danger]="IsInvalidField('phone')" (input)="FormatPhone()"
                formControlName="phone" maxlength="9" placeholder="xxxx-xxxx">
        </shared-field>
    </div>
</form>

<parent-c-people [(updating)]="isUpdating" [id]="id" [people]="people" />