<aside class="nav">
    <!-- RAIL -->
    <div class="rail">
        <div class="rail__top">
            <a class="brand" [class.is-active]="isActiveCategory('home')"
                (click)="router.go('/'); $event.preventDefault()">
                <img src="favicon.ico" width="30">
            </a>
        </div>

        <ul class="rail__menu">
            @for (category of categories(); track $index) {
            <li>
                <a [class.is-active]="isActiveCategory(category.id)" [title]="category.id"
                    (click)="selectCategory(category.id)">
                    <span class="icon">{{category.icon}}</span>
                </a>
            </li>
            }
        </ul>

        <div class="rail__bottom">
            <button class="rail__btn" type="button" (click)="toggleTheme.emit()" title="Theme">🌓</button>
            <button class="rail__btn" type="button" (click)="logout()" title="Logout">⎋</button>
        </div>
    </div>

    @if (selectedCategory() && selectedCategory()?.id != 'home') {
    <div class="flyout" (keydown.escape)="selectCategory(undefined)">
        <div class="flyout__header">
            <div class="flyout__title">
                <span class="flyout__icon">{{selectedCategory()?.icon}}</span>
                <span>{{selectedCategory()?.id}}</span>
            </div>

            <button class="flyout__close" type="button" (click)="selectCategory(undefined)" title="Close">✕</button>
        </div>

        <ul class="flyout__list" role="menu">
            @for (option of selectedCategory()?.options; track $index) {
            <li>
                <a class="flyout__item" role="menuitem" (click)="router.go(option.route); $event.preventDefault()">
                    <span class="flyout__itemIcon">{{option.routeName}}</span>
                </a>
            </li>
            }
        </ul>
    </div>
    }
</aside>