<aside class="nav">
    <!-- RAIL -->
    <div class="rail">
        <div class="rail__top">
            <button class="rail__btn brand" type="button" (click)="toggleCategory('main')"
                [class.is-active]="activeCategoryId() === 'main'">
                <img src="favicon.ico" width="30">
            </button>
        </div>

        <ul class="rail__menu">
            @for (cat of visibleCategories(); track cat.id) {
            <li>
                <button type="button" class="rail__btn"
                    [class.is-active]="activeCategoryId() === cat.id && isFlyoutOpen()" (click)="onCategoryClick(cat)"
                    [attr.aria-expanded]="activeCategoryId() === cat.id && isFlyoutOpen()" [title]="cat.id">
                    <span class="icon">{{ cat.icon }}</span>
                </button>
            </li>
            }
        </ul>

        <div class="rail__bottom">
            <button class="rail__btn" type="button" (click)="toggleTheme.emit()" title="Theme">🌓</button>

            @if (isAuth()) {
            <button class="rail__btn" type="button" (click)="logout()" title="Logout">⎋</button>
            } @else {
            <a class="rail__btn link" routerLink="/login" title="Login">⇢</a>
            }
        </div>
    </div>

    <!-- FLYOUT -->
    @if (isFlyoutOpen() && activeCategory()) {
    <div class="flyout" (keydown.escape)="closeFlyout()">
        <div class="flyout__header">
            <div class="flyout__title">
                <span class="flyout__icon">{{ activeCategory()!.icon }}</span>
                <span>{{ activeCategory()!.id }}</span>
            </div>

            <button class="flyout__close" type="button" (click)="closeFlyout()" title="Close">✕</button>
        </div>

        <div class="flyout__list" role="menu">
            @for (item of visibleItems(); track item.route) {
            <a class="flyout__item" [routerLink]="item.route" routerLinkActive="is-active"
                (click)="onLeafClick($event, item.route)" role="menuitem">
                <span class="flyout__itemIcon">{{item.routeName}}</span>
            </a>
            }
        </div>
    </div>
    }
</aside>