<shared-alert [(message)]="message" [success]="success" />

<div class="buttons are-medium">
    <button class="button is-primary" (click)="StartScan()">Escanear QR</button>
</div>

<shared-field field="Es asistencia" [loading]="isScanning">
    <label class="checkbox">
        <input type="checkbox" [(ngModel)]="isAttendance">
        @if (isAttendance) { Sí}@else { No}
    </label>
</shared-field>

<shared-field field="Fecha de inasistencia" [loading]="isScanning" *ngIf="!isAttendance">
    <input type="date" class="input" [(ngModel)]="attendanceDate" [max]="LimitDate(true)" [min]="LimitDate(false)">
</shared-field>

<zxing-scanner #scanner [autostart]="true" [autofocusEnabled]="true" [formats]="formats"
    (scanSuccess)="Scan($event)"></zxing-scanner>