<nav class="navbar is-fixed-top is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/">
      <img width="30" src="https://pub-e47275a009714794bcff2eb4713b67bb.r2.dev/mrcd.png">
    </a>

    <button (click)="ShowMenu()" [class.is-active]="burgerActive" class="navbar-burger" aria-label="menu"
      aria-expanded="false" data-target="navbarBurger">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </button>
  </div>

  <div id="navbarBurger" class="navbar-menu" [class.is-active]="burgerActive">
    <div class="navbar-start is-hidden-desktop is-hidden-tablet">
      <div class="navbar-item">
        <app-menu (closeMenu)="burgerActive = $event" />
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <a class="tag is-medium is-warning is-light is-rounded" routerLink="/alerts" (click)="ShowMenu()">Alertas</a>
      </div>
      <div class="navbar-item" (click)="ShowMenu()">
        <a class="is-flex" routerLink="/user/me">
          <figure class="image">
            <img src="https://pub-e47275a009714794bcff2eb4713b67bb.r2.dev/icons/user.png" />
          </figure>
        </a>
      </div>
      <div class="navbar-item">
        <button class="button is-warning" [class.is-loading]="isLogouting" [disabled]="isLogouting"
          (click)="Logout()">Cerrar sesión</button>
      </div>
    </div>
  </div>
</nav>