<aside class="menu">
    @for (category of routes; track $index) {
    @if (category.show) {
    <p class="menu-label is-flex is-justify-content-space-between" (click)="Toggle(category)">
        {{ category.label}}
        <span>{{category.expanded ? '▼' : '▶'}}</span>
    </p>
    <ul class="menu-list" [class.is-hidden]="!category.expanded">
        @for (route of category.children; track $index) {
        @if (route.show) {
        <li>
            @if (route.route !== '') {
            <a routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}"
                [routerLink]="route.route">{{route.label}}</a>
            } @else {
            <a>{{route.label}}</a>
            }
            @if (route.children) {
            <ul>
                @for (sub of route.children; track $index) {
                @if (sub.show) {
                <li><a routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}"
                        [routerLink]="sub.route">{{sub.label}}</a></li>
                }
                }
            </ul>
            }
        </li>
        }
        }
    </ul>
    }
    }
</aside>