<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
        <shared-alert [(message)]="message" [success]="success" />

        @if (isAttendance) {
        <shared-pan-expand title="Opciones de escaneo">
            <form [formGroup]="form" class="columns is-multiline">
                <div class="column is-half">
                    <shared-field field="Tipo de asistencia" [inBox]="false">
                        <div class="select">
                            <select formControlName="isAttendance">
                                <option value="true">Asistencia</option>
                                <option value="false">Permiso de inasistencia</option>
                            </select>
                        </div>
                    </shared-field>
                </div>

                <div class="column is-half">
                    <shared-field field="¿Cerrar scaner al terminar?" [inBox]="false">
                        <div class="select">
                            <select formControlName="alwaysShow">
                                <option value="true">No</option>
                                <option value="false">Sí</option>
                            </select>
                        </div>
                    </shared-field>
                </div>

                <div class="column is-half">
                    <shared-field field="Fecha de asistencia" [inBox]="false">
                        <input type="date" class="input" formControlName="date">
                    </shared-field>
                </div>
            </form>
        </shared-pan-expand>
        }

        <ngx-scanner-qrcode #qr="scanner" [symbolType]="qrOnly" (data)="Scan($event)" />
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="CloseModal()"></button>
</div>