<shared-alert [(message)]="message" [success]="success" />

<div class="buttons are-medium">
    <button class="button is-primary" [class.is-loading]="isUpdating" [disabled]="isUpdating || form.invalid"
        (click)="UpdateAsync()">Actualizar</button>
    <a class="button" routerLink="/user/all">Regresar</a>
</div>

<form [formGroup]="form" class="columns is-multiline" (ngSubmit)="UpdateAsync()">
    <div class="column is-3 has-text-right">
        <label for="txtName" class="subtitle">Nombre de usuario</label>
    </div>
    <div class="column is-9">
        <div class="control" [class.is-loading]="isUpdating">
            <input name="txtName" type="text" class="input" [class.is-danger]="IsInvalidField('username')"
                formControlName="username" maxlength="15">
        </div>
    </div>

    <div class="column is-3 has-text-right">
        <label for="txtPass" class="subtitle">Contraseña</label>
    </div>
    <div class="column is-9">
        <div class="control" [class.is-loading]="isUpdating">
            <input name="txtPass" type="password" class="input" [class.is-danger]="IsInvalidField('password')"
                formControlName="password" maxlength="30" minlength="6">
        </div>
        <p class="help is-danger" *ngIf="IsInvalidField('password')">La contraseña debe tener, por lo menos: un número,
            una letra mayúscula, un carácter especial y una longitud de 6</p>
    </div>

    <div class="column is-3 has-text-right">
        <label for="chkActive" class="subtitle">Está activo</label>
    </div>
    <div class="column is-9">
        <label class="checkbox">
            <input name="chkActive" type="checkbox" formControlName="isActive">
        </label>
    </div>

    <div class="column is-3 has-text-right">
        <label class="subtitle">Roles</label>
    </div>
    <div class="column is-9">
        <div class="checkboxes" *ngFor="let role of roles">
            <label class="checkbox">
                <input type="checkbox" [checked]="role.active" [disabled]="!isActive || isUpdating"
                    (click)="OnSelectRole(role.name)">
                {{role.name}}
            </label>
        </div>
    </div>
</form>