<h2>{{title()}}</h2>
<hr>
<parents-form [hideIsParent]="true" (parent)="addParent($event)" />
<hr>

@if (parents().length > 0) {
<div class="ui-table-wrap">
    <table class="ui-table">
        <thead>
            <tr>
                <th>Nombre del padre</th>
                <th>Género</th>
                <th>Teléfono</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @for (parent of parents(); track $index) {
            <tr>
                <td>{{parent.name}}</td>
                <td>@if (parent.isMasculine) {Masculino}@else {Femenino}</td>
                <td>{{parent.phone}}</td>
                <td>
                    <button class="ui-button is-danger" (click)="removeParent(parent)">Remover</button>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}