<div class="buttons are-medium">
    <button class="button is-warning" [class.is-loading]="isCreating" [disabled]="isCreating"
        (click)="SaveToPDF()">Guardar PDF</button>
</div>

<div class="box table-container has-background-dark">
    <div #pageA4 class="table has-background-white p-6 print-page" [style.width]="isVertical ? '794px' : '1123px'">
        @if(backgroundImage){
        <div class="print-bg" [style.background-image]="'url(' + backgroundImage + ')'"
            [style.opacity]="backgroundOpacity">
        </div>
        }
        <div class="print-content">
            <ng-content></ng-content>
        </div>
    </div>